body {
  font-size: 100%;
  font-family: $adelle-sans;
}
.l-container {
  border: 1px solid #c1c1c1;
  padding: 0 0 0;
  margin-bottom: 1rem;
}
.header {
  border-top: 4px solid #818452;
  width: 100%;
  height: 63px;
}
.logo {
  float: left;
  margin: 10px 0 0 15px;
  padding: 0;
}
.phone {
  float: right;
  height: 40px;
  line-height: 40px;
  margin: 10px 10px 0 0;
  padding: 0;
  > a:link {
    color: #5E6985;
    font-weight: bold;
    text-decoration: none;
  }
  > a:hover {
    text-decoration: underline;
  }
}

.header-btn {
  float: right;
  margin: 8px 10px 0 0;
}
.heroBox {
  width: 100%;
  height: 606px;
  max-height: 606px;
}
.hero {
  width: 100%;
  height: 100%;
  background: url(../images/food-healthy-man-person.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid #818452;
  border-width: 1px 0;
  padding: 40px;
}
.introMessage {
  font-size: 72px;
  line-height: 90px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.learnMore {
  font: normal 28px $kepler;
  color: #fff;
  text-align: center;
}
.newsletter {
  max-width: 60%;
  margin: 0 auto;
  padding: 0 0 1em 0;
  > p {
    text-align: center;
    font-size: em(18);
    color: #4A4A4A;
  }
}
.newsletter--signup {
  width: 93%;
  margin: 0 auto;
}
.laiseText {
  background-color: #7D7F18;
  height: 338px;
  padding: 40px;
  h3 {
    color: #fff;
  }
  p {
    color: #fff;
  }
}
.laisePicture {
  background-color: #252E4A;
  height: 338px;
  background: url(../images/laise-picture.jpg) no-repeat 0 0;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
.helpYouPara {
  font: normal 24px $kepler;
  text-align: center;
  color: #4A4A4A;
  padding: 1rem 2rem;
}
.myBusinessStory {
  background-color: $purple;
  padding: 1rem 0 1rem 0;
  > h3 {
    color: #fff;
    text-align: center;
    font-size: em(30);
    margin: .5rem 0;
    padding: 0;
  }
}
.myBusinessStory--text {
  color: #fff;
  font-size: em(14);
  line-height: 23px;
}
.howIcanHelpUrBusiness {
  background-color: $light-purple;
  padding: 1rem 0 1rem 0;
  > h3 {
    color: $gray-body-text;
    text-align: center;
    font-size: em(30);
    margin: .5rem 0;
    padding: 0;
  }
}
.howIcanHelpUrBusiness--text {
  color: $gray-body-text;
  font-size: em(14);
  line-height: 23px;
}
.bizLogos {
  margin: 0;
  padding: 0;
}
.bizLogos > h3 {
  color: $gray-body-text;
  text-align: center;
  font-size: em(30);
  margin: 1.5rem 0;
  padding: 0;
}
.bizLogos > ul {
  margin: 0;
  padding: 0;
}
.bizLogos > ul > li {
  float: left;
  height: 120px;
  list-style: none;
  width: 33%;
  text-align: center;
}
.contactSignUpBox {
  background-color: #324268;
  padding: 1rem 0 1rem 0;
  > h3 {
    color: #fff;
    text-align: center;
    font-size: em(30);
    margin: .5rem 0;
    padding: 0;
  }
}
.contactSignUpBox--text {
  color: #fff;
  font-size: em(14);
  line-height: 23px;
}

// Overlay Contact Form
.overlayBackground {
  background-color: rgba(0,0,0,.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
	opacity: 0;
	visibility: hidden;
  @include transition(all .25s ease-in-out 0s);
}
.overlayContactForm {
  width: 60%;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #fff;
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -30%;
  border-radius: 4px;

  //box-shadow: 0px 0px 1rem rgba(0,0,0,.5)
  /* z-index: 10; */
  @include transform(translateY(-20px));
  @include transition(transform .15s ease-in-out 0s, opacity .15s ease-in-out 0s, visibility .15s ease-in-out 0s);
}
.overlay-is-visible {
  visibility: visible;
  opacity: 1;
  .overlayContactForm {
    opacity: 1;
    visibility: visible;
    @include transform(translateY(0px));
  /* @include transition(transform .25s ease-in-out 0s, opacity .25s ease-in-out 0s); */
  }

}
.formTitle {
  width: 75%;
  margin: 1rem auto;
  font-weight: normal;
  text-align: center;
}
.icon-close-x {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.formText {
  margin: 0;
  padding: 0 2rem 1rem 2rem;
  li {
    list-style: none;
  }
}
.formText .textLabel {
  display: block;
  margin: 0;
  margin: 0 0 .25rem 0;
}
.formText--textBox {
  width: 50%;
  float: left;
  margin: 0;
  /* border: 1px solid red; */
  padding: 0 .5rem;
  margin: 0 0 1rem 0;
}
.formText--textarea {
  padding: 0 .5rem;
  margin: 2rem 0 1rem 0;
  clear: both;
}
.genericTextarea-fullWidth {
  width: 100%;
}
.btn-form {
  width: 100%;
}

// input Error

.formText .inputError {
  font-weight: normal;
  color: red;
  font-size: em(14);
}
