<html>
<head>
<!-- example requires jquery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<script src="/app/assets/js/jquery.form.min.js"></script>


<script>
$(document).ready(function() {
	$('#contact-form').ajaxForm(function(data) {
	    if(data.success === true)
	    {
	        $("#modal-action").hide();
	        $("#modal-reaction").show();
	    }

	    if(data.success === false)
	    {
	        //$(".form-error-holder").html("<label class='error'>"+data.errors.join(', ')+"</label><input type='text' class='error' /><small class='error'>Invalid entry</small>");

	        $.each(data.errors, function(i, item)
	        {
	            $(".form-error-holder").append("<small class='error'>"+i+": "+item+"</small>");
	        });
	    }
	});
});
</script>
</head>
<body>

<h3>Thank for your message!</h3>
<p>I'll respond asap.</p>

<style type="text/css">
    .general_errors,
    .error_message {
        color:            red;
        border:            1px solid red;
        border-radius:    3px;
        padding:        0 10px;
        display:        none;
        margin-bottom:    10px;
        width:            300px;
    }
</style>

{exp:freeform:form
form_name="contact_me"
required="first_name|last_name|email|user_message"
recipients="no"
inline_errors="yes"
admin_notify="you@me.com"
notify_admin="yes"
admin_notification_template="contact_form"
form:id="contact-form"
}

<ul class="formText clearfix">
<li class="formText--textBox">
<label class="textLabel">{freeform:label:first_name}</label>
{freeform:field:first_name attr:class="inputText inputText-fullWidth"}
{if freeform:error:first_name}
    <strong class="inputError">{freeform:error:first_name}</strong>
{/if}
</li>
<li class="formText--textBox">
<label class="textLabel">{freeform:label:last_name}</label>
{freeform:field:last_name attr:class="inputText inputText-fullWidth"}
{if freeform:error:last_name}
    <strong class="inputError">{freeform:error:last_name}</strong>
{/if}
</li>

<li class="formText--textBox">
<label class="textLabel">{freeform:label:email}</label>
{freeform:field:email attr:class="inputText inputText-fullWidth"}
{if freeform:error:email}
    <strong class="inputError">{freeform:error:email}</strong>
{/if}
</li>


<li class="formText--textBox">
<label class="textLabel">{freeform:label:company}</label>
{freeform:field:company attr:class="inputText inputText-fullWidth"}
{if freeform:error:company}
    <strong class="inputError">{freeform:error:company}</strong>
{/if}
</li>

<li class="formText--textarea">
<label class="textLabel">{freeform:label:user_message}</label>
{freeform:field:user_message attr:class="inputTextarea inputTextarea-fullWidth"}
{if freeform:error:user_message}
    <strong class="inputError">{freeform:error:user_message}</strong>
{/if}
</li>

<li class="formText--button">{freeform:submit attr:class="btn btn-purple btn-form"}</li>
</ul>
<div id="form-response"></div>
<div class="form-error-holder"></div>

{/exp:freeform:form}

<hr />

<style type="text/css">
    .general_errors,
    .error_message {
        color:            red;
        border:            1px solid red;
        border-radius:    3px;
        padding:        0 10px;
        display:        none;
        margin-bottom:    10px;
        width:            300px;
    }
</style>

{exp:freeform:form
    form:id="ajax_form"
    {if segment_3}form_name="{segment_3}"{/if}
    {if segment_3 == ''}form_id="1"{/if}
}
    {if freeform:no_results}
        Form Not Found.
    {/if}
    <h1>{freeform:form_label}</h1>

    <!-- place holder for ajax errors-->
    <div class="general_errors"></div>

    <dl>
    {freeform:all_form_fields}
        <dt>
            <label>{freeform:field_label}</label>
        </dt>
        <dd>
            <!-- place holder for ajax errors-->
            <div class="error_message"></div>
            {freeform:field_output}
        </dd>
    {/freeform:all_form_fields}
    </dl>

    {if freeform:captcha}
        <p>Please enter the word you see in the image below:</p>
        <p>
            {freeform:captcha}<br />
            <input
                type="text"
                name="captcha"
                value=""
                size="20"
                maxlength="20"
                style="width:140px;" />
        </p>
    {/if}

    <p>{freeform:submit}</p>
{/exp:freeform:form}

<script type="text/javascript">
    jQuery(function($){
        var $form            = $('#ajax_form');
        var $generalErrors    = $('.general_errors');

        $form.submit(function(e){
            //hide all errors
            $('.error_message').hide().html('');
            $generalErrors.hide().html('');

            //jquery ajax shortcut
            $.post(
                //form url (Freeform autodetects ajax)
                $form.attr('action'),
                //form params
                $form.serialize(),
                //data handler
                function(data)
                {
                    // -------------------------------------
                    //    `data` is a json string that jQuery
                    //    automatically detects and converts.
                    //    data {
                    //        //posting successful?
                    //
                    //        "success" : true/false,
                    //
                    //        //object containing error messages
                    //        //if success is false
                    //        //multiple error messages are an array
                    //        //single error messages are a string
                    //
                    //        "errors"    : {
                    //            "field_name1"    : 'single error message',
                    //            "field_name2"    : [
                    //                'multiple error messages',
                    //                'for the same field'
                    //            ]
                    //        }
                    //
                    //        //the return url of return="" if set, or this current url
                    //
                    //        "return_url"    : "http://yoursite.com/return/segment/"
                    //    }
                    // -------------------------------------
                    if (data.success == false)
                    {
                        //data.errors
                        $.each(data.errors, function(i, item){

                            var $errorHolder = $('[name="' + i + '"]').
                                                    parent().find('.error_message');
                            var error         = ($.isArray(item) ? item.join('<br/>') : item);

                            //does the error holder field exist?
                            if ($errorHolder.length > 0)
                            {
                                $errorHolder.append('<p>' + error + '</p>').show();
                            }
                            //lets add it to general errors
                            else
                            {
                                $generalErrors.append('<p>' + error + '</p>').show();
                            }
                        });
                    }
                    else if (data.success)
                    {
                        window.location.href = data['return_url'];
                    }
                }
            );

            e.preventDefault();
            return false;
        });
    });
</script>

</body>
</html>
