{embed="includes/html_header"}

<div class="l-container">

<div class="row">
<div class="header clearfix">
  <a href="{site_url}"><h1 class="icon-logo-vitti logo" style="width: 200px; height: 36px;" ></h1></a>
  <a href="{site_url}" class="btn btn-outline btn-outline-green header-btn overlay-trigger">back to homepage</a>  
</div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h3>Thank for your message!</h3>
    <p>You'll hear from me soon.</p>
  </div>
</div>

</div> <!-- end container -->


</body>
</html>
