{embed="includes/html_header"}

<div class="l-container">

<div class="overlayBackground overlay-is-visible">
<div class="overlayContactForm">
  <h3 class="formTitle">Hello! Thanks for taking the time to contact to me!
Fill out the fields below and hit submit. I'll respond to you as soon as I can. </h3>
  <span class="icon-close-x fa fa-2x fa-times"></span>

  {exp:freeform:form
  form_name="contact_me"
  required="first_name|last_name|email|user_message"
  recipients="no"
  inline_errors="yes"
  return="ajax/success"
  admin_notify="laise79@gmail.com|julianodasilva@gmail.com"
  notify_admin="yes"
  admin_notification_template="contact_form"
  form:id="contact-form"
  }

  <ul class="formText clearfix">
  <li class="formText--textBox">
  <label class="textLabel">{freeform:label:first_name}</label>
  {freeform:field:first_name attr:class="inputText inputText-fullWidth"}
  {if freeform:error:first_name}
      <strong class="inputError">{freeform:error:first_name}</strong>
  {/if}
  </li>
  <li class="formText--textBox">
  <label class="textLabel">{freeform:label:last_name}</label>
  {freeform:field:last_name attr:class="inputText inputText-fullWidth"}
  {if freeform:error:last_name}
      <strong class="inputError">{freeform:error:last_name}</strong>
  {/if}
  </li>

  <li class="formText--textBox">
  <label class="textLabel">{freeform:label:email}</label>
  {freeform:field:email attr:class="inputText inputText-fullWidth"}
  {if freeform:error:email}
      <strong class="inputError">{freeform:error:email}</strong>
  {/if}
  </li>


  <li class="formText--textBox">
  <label class="textLabel">{freeform:label:company}</label>
  {freeform:field:company attr:class="inputText inputText-fullWidth"}
  {if freeform:error:company}
      <strong class="inputError">{freeform:error:company}</strong>
  {/if}
  </li>

  <li class="formText--textarea">
  <label class="textLabel">{freeform:label:user_message}</label>
  {freeform:field:user_message attr:class="inputTextarea inputTextarea-fullWidth"}
  {if freeform:error:user_message}
      <strong class="inputError">{freeform:error:user_message}</strong>
  {/if}
  </li>

  <li class="formText--button">{freeform:submit attr:class="btn btn-purple btn-form"}</li>
</ul>
<div id="form-response"></div>
<div class="form-error-holder"></div>

  {/exp:freeform:form}

</div>
</div>

<div class="row">
<div class="header clearfix">
  <h1 class="icon-logo-vitti logo" style="width: 200px; height: 36px;" ></h1>
  <a href="#" class="btn btn-outline btn-outline-green header-btn overlay-trigger">contact me now</a>
  <p class="phone"><span class="icon-icon-phone" style="width: 24px; height: 21px; display: inline-block; vertical-align: -5px;" ></span> <a href="tel:+13174562564">612.222.2324</a></p>
</div>
</div>

<div class="row">
<div class="heroBox">
  <div class="hero">
    <h1 class="introMessage">I help farmers grow  sustainable  varieties of delicious grapes</h1>
    <p class="learnMore">
      learn more
      <span class="fa fa-1x fa-arrow-down"></span>
    </p>
  </div>
</div>
</div>

<div class="row">
<div class="newsletter">
  <p>Sign up to receive a monthly newsletter with news and updates
 about the industry of grapes, agriculture, and technology.</p>
  <div class="newsletter--signup">
  <form action="//julianomoreira.us1.list-manage.com/subscribe/post?u=ef9a24d01362c4c74d938c860&amp;id=6c00829c54" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="text" value="" name="FNAME" class="inputText inputText-fName" placeholder="first name" id="mce-FNAME">
    <input type="text" value="" name="LNAME" class="inputText inputText-lName" placeholder="last name" id="mce-LNAME">
    <input type="email" value="" name="EMAIL" class="inputText inputText-email" placeholder="enter your email"id="mce-EMAIL">
    <input type="submit" value="sign me up!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-purple">
  </form>
  </div>
</div>
</div>

<div class="row">
  <div class="large-6 medium-6 column laiseText featuredImg">
    <h3>Hi, I’m Laise Moreira. <br />
I’m here to help your farm!</h3>
    <p>I am an independent grape consultant and I love it! Being a consultant allows me to offer advice that is based on own opinion and judgement, backed up by research and years of experience on the field. I have an large network that allows me to stay up to date with the latest developments in the industry.</p>
  </div>
  <div class="large-6 medium-6 column featuredImg featuredImgLaise">
    <div class="featuredImgLaise--signature">
      <h3>Laise Moreira</h3>
      <p>Agronomist Engineer, Master of Science in Irrigated Horticulture</p>
    </div>
  </div>
</div>

<div class="row">
<div class="helpYouPara">
  I can help you increase your selection of fruits, reach more markets, divulge your farm,
 develop long-lasting relationships and produce sustainable products.
</div>
</div>

<div class="row">
  <div class="large-6 medium-6 column featuredImg featuredImg-one">
    <div class="featuredImgBox">
      <p class="featuredImgBox--text">I am an independent grape consultant and I love it! Being a consultant allows me to offer advice that is based on own opinion and judgement, backed up by research and years of experience on the field. I have an large network that allows me to stay up to date with the latest developments in the industry.</p>
    </div>
  </div>
  <div class="large-6 medium-6 column featuredImg featuredImg-two">
    <div class="featuredImgBox">
      <p class="featuredImgBox--text">I am an independent grape consultant and I love it! Being a consultant allows me to offer advice that is based on own opinion and judgement, backed up by research and years of experience on the field. I have an large network that allows me to stay up to date with the latest developments in the industry.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 medium-6 column featuredImg featuredImg-one">
    <div class="featuredImgBox">
      <p class="featuredImgBox--text">I am an independent grape consultant and I love it! Being a consultant allows me to offer advice that is based on own opinion and judgement, backed up by research and years of experience on the field. I have an large network that allows me to stay up to date with the latest developments in the industry.</p>
    </div>
  </div>
  <div class="large-6 medium-6 column featuredImg featuredImg-one">
    <div class="featuredImgBox">
      <p class="featuredImgBox--text">I am an independent grape consultant and I love it! Being a consultant allows me to offer advice that is based on own opinion and judgement, backed up by research and years of experience on the field. I have an large network that allows me to stay up to date with the latest developments in the industry.</p>
    </div>
  </div>
</div>

<div class="row">
<div class="myBusinessStory clearfix">
  <h3>I’ve been helping business since 2006</h3>
  <div class="large-6 medium-6 columns">
  <p class="myBusinessStory--text">Integer porta sollicitudin odio nec molestie. Suspendisse fringilla risus neque, eget dapibus erat fringilla vitae. Aenean imperdiet neque ac nibh luctus vulputate. Fusce sem ex, luctus quis vulputate eget, varius vel nibh. Duis vel sagittis arcu. </p>
  <p class="myBusinessStory--text">Phasellus maximus, libero sed dictum maximus, eros justo viverra nibh, eget rhoncus augue massa eu est. Ut vitae fermentum justo. Donec porttitor sollicitudin orci, in vehicula magna. Phasellus vehicula elit ac porta molestie. Cras laoreet sollicitudin quam non efficitur.</p>
  </div>
  <div class="large-6 medium-6 columns">
    <p class="myBusinessStory--text">Integer porta sollicitudin odio nec molestie. Suspendisse fringilla risus neque, eget dapibus erat fringilla vitae. Aenean imperdiet neque ac nibh luctus vulputate. Fusce sem ex, luctus quis vulputate eget, varius vel nibh. Duis vel sagittis arcu. </p>
    <p class="myBusinessStory--text">Phasellus maximus, libero sed dictum maximus, eros justo viverra nibh, eget rhoncus augue massa eu est. Ut vitae fermentum justo. Donec porttitor sollicitudin orci, in vehicula magna. Phasellus vehicula elit ac porta molestie. Cras laoreet sollicitudin quam non efficitur.</p>
  </div>
</div>
</div>

<div class="row">
<div class="howIcanHelpUrBusiness clearfix">
  <h3>Here it is how I can help your business:</h3>
  <div class="large-6 medium-6 columns">
  <p class="howIcanHelpUrBusiness--text">Integer porta sollicitudin odio nec molestie. Suspendisse fringilla risus neque, eget dapibus erat fringilla vitae. Aenean imperdiet neque ac nibh luctus vulputate. Fusce sem ex, luctus quis vulputate eget, varius vel nibh. Duis vel sagittis arcu. </p>
  <p class="howIcanHelpUrBusiness--text">Phasellus maximus, libero sed dictum maximus, eros justo viverra nibh, eget rhoncus augue massa eu est. Ut vitae fermentum justo. Donec porttitor sollicitudin orci, in vehicula magna. Phasellus vehicula elit ac porta molestie. Cras laoreet sollicitudin quam non efficitur.</p>
  </div>
  <div class="large-6 medium-6 columns">
    <p class="howIcanHelpUrBusiness--text">Integer porta sollicitudin odio nec molestie. Suspendisse fringilla risus neque, eget dapibus erat fringilla vitae. Aenean imperdiet neque ac nibh luctus vulputate. Fusce sem ex, luctus quis vulputate eget, varius vel nibh. Duis vel sagittis arcu. </p>
    <p class="howIcanHelpUrBusiness--text">Phasellus maximus, libero sed dictum maximus, eros justo viverra nibh, eget rhoncus augue massa eu est. Ut vitae fermentum justo. Donec porttitor sollicitudin orci, in vehicula magna. Phasellus vehicula elit ac porta molestie. Cras laoreet sollicitudin quam non efficitur.</p>
  </div>
</div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="bizLogos">
    <h3>I've worked with these companies over the years:</h3>
    <ul class=" clearfix">
      <li><img src="app/assets/images/logo-ifg.jpg" /></li>
      <li><img src="app/assets/images/logo-grapa.jpg" /></li>
      <li><img src="app/assets/images/logo-embrapa.jpg" /></li>
      <li><img src="app/assets/images/logo-hoekstra.jpg" /></li>
      <li><img src="app/assets/images/logo-stargrow.jpg" /></li>
      <li><img src="app/assets/images/logo-labrunier.jpg" /></li>
    </ul>
  </div>
</div>
</div>

<div class="row">
<div class="contactSignUpBox clearfix">
  <h3>Let’s connect! I’d love to work with you too!</h3>
  <div class="large-6 medium-6 columns">
  <p class="contactSignUpBox--text">Integer porta sollicitudin odio nec molestie. Suspendisse fringilla risus neque, eget dapibus erat fringilla vitae. Aenean imperdiet neque ac nibh luctus vulputate. Fusce sem ex, luctus quis vulputate eget, varius vel nibh. Duis vel sagittis arcu. </p>
  <button class="btn btn-purple btn-full overlay-trigger">contact me now</button>
  </div>
  <div class="large-6 medium-6 columns">
    <p class="contactSignUpBox--text">Integer porta sollicitudin odio nec molestie. Suspendisse fringilla risus neque, eget dapibus erat fringilla vitae. Aenean imperdiet neque ac nibh luctus vulputate. Fusce sem ex, luctus quis vulputate eget, varius vel nibh. Duis vel sagittis arcu. </p>
    <button class="btn btn-purple btn-full">sign up for my newsletter</button>
  </div>
</div>
</div>

</div>

</div> <!-- end container -->


{embed="includes/footer"}
