{embed="includes/html_header"}

<div class="l-container">

<div class="row">
<div class="header clearfix">
  <h1 class="icon-logo-vitti logo" style="width: 200px; height: 36px;" ></h1>
  <a href="#" class="btnOutline btnOutline-green header-btn">contact me now</a>
  <p class="phone"><span class="icon-icon-phone" style="width: 24px; height: 21px; display: inline-block; vertical-align: -5px;" ></span> <a href="tel:+13174562564">612.222.2324</a></p>
</div>
</div>

<div class="row">
<div class="heroBox">
  <div class="hero">
    <h1 class="introMessage">I help farmers grow  sustainable  varieties of diverse grapes</h1>
    <p class="learnMore">learn more</p>
  </div>
</div>
</div>

<div class="row">
<div class="newsletter">
  <p>Sign up to receive a monthly newsletter with news and updates
 about the industry of grapes, agriculture, and technology.</p>

 <label><input class="" type="text" placeholder="enter your name"></label>
 <label><input class="" type="text" placeholder="enter your email"></label>
 <button class="btn">contact me now</button>

</div>
</div>

<div class="row">
  <div class="large-6 medium-6 column laiseText">
    <h3>Hi, I’m Laise Moreira. <br />
I’m here to help your farm!</h3>
    <p>I am an independent grape consultant and I love it! Being a consultant allows me to offer advice that is based on own opinion and judgement, backed up by research and years of experience on the field. I have an large network that allows me to stay up to date with the latest developments in the industry.</p>
  </div>
  <div class="large-6 medium-6 column laisePicture">
    <h3>Hi, I’m Laise Moreira. <br />
I’m here to help your farm!</h3>
    <p>I am an independent grape consultant and I love it! Being a consultant allows me to offer advice that is based on own opinion and judgement, backed up by research and years of experience on the field. I have an large network that allows me to stay up to date with the latest developments in the industry.</p>
  </div>
</div>

<div class="row">
<div class="helpYouPara">
  I can help you increase your selection of fruits, reach more markets, divulge your farm,
 develop long-lasting relationships and produce sustainable products.
</div>
</div>

</div> <!-- end container -->


{embed="includes/footer"}
