/*******************************************************************************
 * Filename     :     buttons.scss
 * Author       :     Juju
 * Description  :     Buttons available for this site
 ******************************************************************************/

.btn {
  background-color: transparent;
  font: 300 14px $adelle-sans;
  color: inherit;
  padding: 5px 1em;
  margin: 0;
  width: auto;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  height: 40px;
  line-height: 24px;
  cursor: pointer;
  -webkit-appearance: none;
}
.btn-purple {
  background-color: #5E6985;
  border-radius: 4px;
  color: #fff;
  border: none;
}
// Button width

.btn-full {
  width: 100%;

}

// Outline style

.btn-outline {
  border: 3px solid #000;
  background: transparent;
}
.btn-outline:hover {
  color: #000; // Need to figure out why !important
  /* border-color: black(1); */
}
.btn-outline:link {
  text-decoration: none;
  /* color: black(.5); */
}
.btn-outline:visited {
  text-decoration: none;
  /* color: black(.35);
  border-color: black(.35); */
}
.btn-outline:active {
  text-decoration: none;
/*   color: black(.5);
border-color: black(.5); */
}
.btn-outline-green {
  border-color: #818452;
  color: #818452;
}
.btn-outline-green:hover {
  background-color: #818452;
  color: #fff;
}
