/*******************************************************************************
 * Filename     :     buttons.scss
 * Author       :     Juju
 * Description  :     Buttons available for this site
 ******************************************************************************/

 $purple: #5E6985;
 $light-purple: #D0D6E5;
 $gray-body-text: #4A4A4A;
