/*******************************************************************************
 * Filename     :     typefaces.scss
 * Author       :     Juju
 * Description  :     Typefaces available for this site
 ******************************************************************************/

$helvetica: "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
$lucida: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", lucida, sans-serif;
$verdana: Verdana, "bitstream vera sans", "Dejavu Sans", "Liberation Sans", Geneva, sans-serif;
$cambria : Cambria, Georgia, "Bitstream charter", "Century schoolbook 1", "Liberation serif", times, serif;
$palatino: "Palatino Linotype", Palatino, palladio, "book antiqua";
$opensans: 'Open Sans', sans-serif;
$monospace: 'Inconsolata', 'Consolas', Courier, monospace;
$kepler: "kepler-std",serif;
$adelle: "adelle", serif;
$adelle-sans: "adelle-sans", sans-serif;
